{
  "allow_exploitation": true,
  "scan_modes": [
    "port",
    "http",
    "dirbusting",
    "dns",
    "subdomain",
    "osint",
    "vulnscan"
  ],
  "target_scope": [
    "culpur.net"
  ],
  "max_runtime": 300,
  "max_threads": 10,
  "allowed_tools": [
  "nmap",
  "ffuf",
  "curl",
  "whois",
  "dig",
  "traceroute",
  "host",
  "dnsrecon",
  "dnsenum",
  "theHarvester",
  "subfinder",
  "amass",
  "httprobe",
  "httpx",
  "whatweb",
  "nikto",
  "wafw00f",
  "shcheck",
  "wpscan",
  "aquatone",
  "masscan",
  "enum4linux-ng",
  "sqlmap",
  "nuclei",
  "hydra",
  "smtp-user-enum",
  "msfconsole",
  "msfrpcd",
  "zap.sh",
  "burpsuite"
  ],
  "openai_api_key": "",
  "msf_username": "msf",
  "msf_password": "mypassword",
  "msf_host": "127.0.0.1",
  "msf_port": 55552,
  "zap_host": "127.0.0.1",
  "zap_port": 8090
}
